---
---

@import "normalize";
@import "settings";

// Box sizing:
// http://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/
html {
  box-sizing: border-box;

  // http://jaydenseric.com/blog/forget-normalize-or-resets-lay-your-own-css-foundation
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
*, *:before, *:after {
  box-sizing: inherit;
}

// Propriétés générales
body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  font-family: Geneva, Tahoma, sans-serif;
  font-size: calc(.9em + .3vw);
  line-height: 1.5;
  font-weight: 400;

  color: $couleur-texte;
  background-color: $couleur-fond;

  scroll-behavior: smooth;
}

// ************************************************************
// Fonts
// ************************************************************

$baseline: 1.5em;

p {
  line-height: $baseline;
  margin-bottom: $baseline;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 400;
  line-height: 1.3;
  margin-bottom: .5em;

  .pedagogie & {
    color: darken($couleur-section-pedagogie, 20%);
  }

  .ecole & {
    color: darken($couleur-section-ecole, 20%);
  }

  .classes & {
    color: darken($couleur-section-classes, 20%);
  }

  .pratique & {
    color: darken($couleur-section-pratique, 20%);
  }
}

$h1: calc(1.3em + 1vw);
h1 {
  font-size: $h1;
  margin-top: 0;
}

$h2: calc(1.2em + .7vw);
h2 {
  font-size: $h2;
  margin-top: calc(2 * #{$baseline} - #{$h2});
}

$h3: calc(1.1em + .45vw);
h3 {
  font-size: $h3;
  margin-top: calc(2 * #{$baseline} - #{$h3});
}

$h4: calc(1em + .25vw);
h4 {
  font-size: $h4;
  font-weight: bold;
  margin-top: calc(2 * #{$baseline} - #{$h4});
}

$h5: calc(1em + .1vw);
h5 {
  font-size: $h5;
  margin-top: calc(2 * #{$baseline} - #{$h5});
  font-style: italic;
}

$h6: 1em;
h6 {
  font-size: $h6;
  margin-top: calc(2 * #{$baseline} - #{$h6});
  font-style: italic;
}

// ************************************************************
// Liens
// ************************************************************

a {
  &:link, &:visited {
    color: $couleur-lien;
    text-decoration: underline solid $couleur-lien-souligne;
  }

  &:hover, &:focus {
    color: $couleur-lien-survol;
    text-decoration: underline solid $couleur-lien-survol;
  }

  &:active {
    color: $couleur-lien-actif;
    text-decoration: underline solid $couleur-lien-actif;
  }
}

// ************************************************************
// Éviter les débordements
// ************************************************************

img {
  max-width: 100%;
  height: auto;
}

iframe {
  max-width: 100%;
}

// ************************************************************
// Classes utilitaires
// ************************************************************

.wrap {
  width: 90vw;
  max-width: 60rem;
  margin: 0 auto;
}

.clearfix {
  &::after {
    // http://nicolasgallagher.com/micro-clearfix-hack/
    content: " ";
    display: table;
    clear: both;
  }
}

// ************************************************************
// Header
// ************************************************************

#header {
  margin: 0;
  padding: 0;

  p, h1 {
    margin: 0;
    line-height: 2;
    text-align: center;
  }

  h1 {
    font-size: 1em;
  }

  a {
    text-decoration: none;
  }

  .site_title a:hover {
    text-decoration: underline;
  }
}

// ************************************************************
// Navigation
// ************************************************************

#nav {
  ul {
    margin: 0;
    padding: 0;
    list-style-type: none;

    @media (min-width: 40em) {
      display: flex;
    }
  }

  li {
    flex: 1;
    white-space: nowrap;
    margin: 1px;
    padding: 0;
  }

  a {
    display: inline-block;
    width: 100%;
    padding: .2em .5em;

    &:link, &:visited {
      text-decoration: none;
    }

    &:hover, &:focus, &:active {
      text-decoration: underline solid #fff;
    }

    &.pedagogie {
      background-color: $couleur-section-pedagogie;
      color: #fff;
    }

    &.ecole {
      background-color: $couleur-section-ecole;
      color: #fff;
    }

    &.classes {
      background-color: $couleur-section-classes;
      color: #fff;
    }

    &.pratique {
      background-color: $couleur-section-pratique;
      color: #fff;
    }

    &.actif {
      font-weight: bold;
    }
  }
}

// ************************************************************
// Contenu principal
// ************************************************************

main {
  flex: 1;

  margin: 1em 0 5em;

  ul {
    margin: 1em 0;
  }

  li {
    margin: 0 0 .5em 0;
  }
}

// ************************************************************
// Footer
// ************************************************************

#footer {
  font-size: .9em;
  margin: 1em 0 0;
  background-color: lighten($couleur-bleu, 10%);
  border-top: 1px solid $couleur-bleu;

  ul {
    margin: 0;
    padding: 0;
    list-style-type: none;

    @media (min-width: 40em) {
      display: flex;
    }
  }

  li {
    white-space: nowrap;
    margin: 0 1em 0 0;
    padding: 0;
  }

  a {
    display: inline-block;
    padding: .2em .5em;

    &:link, &:visited {
      color: $couleur-texte;
      text-decoration: underline solid darken($couleur-bleu, 30%);
    }

    &:hover, &:focus, &:active {
      color: $couleur-rouge;
      text-decoration: underline solid $couleur-rouge;
    }
  }
}

