<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <link rel="stylesheet" href="styles.css" />

  {% comment %} opengraph {% endcomment %}
  <meta property="og:site_name" content="{{ site.title }}" />
  <meta property="og:image" content="" />

  {% if page.url == "/index.html" %}
    <title itemprop="name">{{ site.title }}</title>
    <link rel="canonical" href="{{ site.url }}" />
    <meta name="description" content="{{ site.description }}" />
    <meta property="og:url" content="{{ site.url }}" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="{{ site.title }}" />
  {% else %}
    <title>{{ page.title }}</title>
    <link rel="canonical" href="{{ site.url }}{{ page.url }}" />
    <meta name="description" content="{{ page.excerpt | strip_html | truncatewords: 150 | truncate: 290 | strip_newlines | escape_once }}" />
    <meta property="og:url" content="{{ site.url }}{{ page.url }}" />
    <meta property="og:type" content="article" />
    <meta property="og:title" content="{{ page.title }}" />
    <meta property="article:author" content="https://www.facebook.com/ecole.montessory.melun" />
  {% endif %}

  <link rel="icon" type="image/jpeg" href="/favicon.jpg" />
</head>
