---
layout: default
---

<div class="accueil">
  <div class="contenu">
    <h1>{{ page.title }}</h1>
    {{ content }}
  </div>
  <div class="illustrations">
    <div class="carte">
      {% include srcset.html src="montessori-puzzle-carte-du-monde.jpg" sizes="(min-width: 50em) 13em, (min-with: 40em) 40vw, 100vw" alt="Matériel Montessori : le puzzle carte du monde" %}
    </div>
    <div class="tour-rose">
      <picture>
        <source media="(max-width: 40em)" srcset=" data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw==" />
        {% include srcset.html src="montessori-la-tour-rose.jpg" sizes="(min-width: 50em) 13em, (min-with: 40em) 40vw, 100vw"           alt="Matériel Montessori : la tour rose" %}
      </picture>
    </div>
    <div class="jetons">
      <picture>
        <source media="(max-width: 40em)" srcset=" data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw==" />
        {% include srcset.html src="montessori-jetons-et-chiffres.jpg" sizes="(min-width: 50em) 13em, (min-with: 40em) 40vw, 100vw"
          alt="Matériel Montessori : jetons et chiffres" %}
      </picture>
    </div>
  </div>
</div>

<p>Pour suivre l'actualité de l'école, vous pouvez aimer <a href="https://www.facebook.com/ecole.montessori.melun">sa page sur Facebook</a> :

<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/fr_FR/sdk.js#xfbml=1&version=v2.8";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
<div class="fb-like" data-href="https://www.facebook.com/ecole.montessori.melun" data-layout="standard" data-action="like" data-size="large" data-show-faces="true" data-share="true"></div>

